
    html {
        background-color: antiquewhite;
      
      }
      h1 {
      background-color: darkseagreen;
        color: whitesmoke;
      }
      h2 {
        color: #faf8f1;
        background-color: #C58940;
        
      }